div{
    background-color: rgb(215, 123, 123);
    width: 100px;
    height: 100px;
    /* display: block; */
    /* display: inline; */
    display: inline-block;
}

span{
    background-color: rgb(44, 170, 176);
    width: 100px;
    height: 100px;
    /* display: block; */
    /* display: inline; */
    display: inline-block;
   


}