
.container{
    display: flex;
    border: 5px solid black;
    height: 90vh;
    /* flex-wrap: wrap; */ */
    /* flex-wrap: wrap-reverse; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: flex-start;
    column-gap: 1em;
    row-gap: 3em; */


    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
     /* justify-content: flex-start; */
     /* justify-content: flex-end; */
     /* justify-content: center; */
     /* justify-content: space-between; */
     /* justify-content: space-around; */
     /* justify-content: space-evenly; */
}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(0, 100%, 70%);
    /* align-self: end; */
}
#box2{
    background-color: hsl(52, 100%, 70%);
    /* order: -1; */
}
#box3{
    background-color: hsl(111, 100%, 70%);
}
#box4{
    background-color: hsl(201, 100%, 70%);
}