h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: hsl(60, 72%, 55%);
}

p::selection{
    color: white;
    background-color: hsl(0, 63%, 43%);
}

#fruit li::before{
    /* content: "✔" ; */
}

#apple::after{
    content: "🍎";
}
#banana::after{
    content: "🍌";
}
#orange::after{
    content: "🍊";
}

#fruit li::marker{
    content: "✔" ;
    color: green
    font-size: 1.2em;

}